<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZCBp-2VGSfmpXtmoJ2SlLsMMuGdu2eQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>128529373383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginSignup</string>
	<key>PROJECT_ID</key>
	<string>fir-login-72a3a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-72a3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128529373383:ios:37a73826346ec01be746e2</string>
</dict>
</plist>